<div class="rant-form-container">
  <%= form_for [@user, @rant], url: dashboard_path do |f| %>
    <div>
      <%= f.label 'A rant about:' %>
    </div>
    <div>
      <%= f.text_field :topic, :class => 'input-field' %>
    </div>
    <div>
      <%= f.label 'Rant:' %>
    </div>
    <div>
      <%= f.text_area :rant, :class => 'input-field' %>
    </div>
    <div>
      <%= f.submit 'RANT', :class => 'button' %>
    </div>
  <% end %>
</div>