<%= render 'layouts/header' %>

<%= render "layouts/form" %>

<div class="col-3-4 rants-display">
  <h1 class="titles">Latest Rants</h1>
  <hr width="85%">
  <% other_users.each do |user| %>
    <% user.rants.each do |rant| %>
      <div class="col-1-5">
        <div class="black-links"> <%= link_to user.first_name, user_path(user.id) %></div>
        <% if  @follow.find_by(follower_id: current_user.id, followee_id: user.id) == nil %>
          <div class="blue-links"><%= link_to "Follow", user_follow_path(current_user, user.id), :method => :post %></div>
        <% else %>
          <div class="blue-links"><%= link_to "Unfollow", user_follow_path(current_user, user.id), :method => :delete %></div>
        <% end %>
      </div>
      <div class="col-3-4 black-links">
        <%= link_to rant.rant, user_rant_path(current_user, rant.id) %>
        <div class="rant-interactions blue-links">
          <%= rant.favorites.count %> -
          <% if @favorite.find_by(user_id: current_user.id, rant_id: rant.id) == nil %>
            <%= link_to "Favorite", user_rant_favorites_path(current_user.id, rant.id), :method => :post %>
          <% else %>
            <%= link_to "Unfavorite", user_rant_favorite_path(current_user.id, rant.id, :id), :method => :delete %>
          <% end %>
        </div>
      </div>
      <hr width="25%">
    <% end %>
  <% end %>
  <br>

  <h1 class="titles">My Rants</h1>
  <hr width="85%">
  <% current_user.rants.each do |rant| %>
    <div class="col-1-5">
      <%= rant.user.first_name %>
    </div>
    <div class="col-3-4">
      <%= rant.rant %>
      <div class="rant-interactions blue-links">
        <%= link_to "Delete", user_rant_path(rant.user_id, rant.id), :method => :delete %>
      </div>
    </div>
    <hr width="25%">
  <% end %>
</div>