<%= render 'layouts/header' %>
<div class="col-1-4 dashboard-sidebar">
  <h1 class="titles"><%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id) %></h1>

  <hr width="85%">
  <span><%= flash[:notice] %></span>

  <%= render "form" %>

</div>

<div class="col-3-4 rants-display">
  <h1 class="titles">Latest Rants</h1>
  <hr width="85%">

  <h1 class="titles">My Rants</h1>
  <hr width="85%">
  <% @rants.each do |rant| %>
    <div class="col-1-5">
      <%= rant.user.first_name %>
    </div>
    <div class="col-3-4">
      <%= rant.rant %>
      <div class="delete-rant">
        <%= link_to "Delete", rant, :method => :delete %>
      </div>
    </div>
    <hr width="25%">
  <% end %>
</div>