<%= render 'layouts/header' %>

<div class="grid registration-container">
  <h1>Login</h1>
  <% if flash[:notice] %>
    <div class="errors"><%= flash[:notice] %></div>
  <% end %>
  <%= form_for @user, url: signin_path do |f| %>
    <div class="col-9-10 small-fields">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="col-9-10 small-fields">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit :LOGIN, :class => "button" %>
    </div>
  <% end %>
</div>