<%= render 'layouts/header' %>
<%= render 'layouts/form' %>

<div class="col-3-4 rants-display">
  <h2 class="titles">Favorites</h2>
  <hr width="85%">
  <% current_user.favorites.each do |favorite| %>
    <div class="col-1-5">
      <div class="black-links"> <%= link_to favorite.rant.user.first_name, user_path(favorite.user_id) %></div>
      <div><%= image_tag favorite.rant.user.avatar_url(:thumb) %></div>
      <% if  @follow.find_by(follower_id: current_user.id, followee_id: favorite.rant.user.id) == nil %>
        <div class="blue-links"><%= link_to "Follow", user_follow_path(current_user, favorite.rant.user.id), :method => :post %></div>
      <% else %>
        <div class="blue-links"><%= link_to "Unfollow", user_follow_path(current_user, favorite.rant.user.id), :method => :delete %></div>
      <% end %>
    </div>

    <div class="col-3-4">
      <%= favorite.rant.rant.truncate(300, separator: ' ') %>
      <div class="rant-interactions blue-links">
        <%= link_to "Unfavorite", user_rant_favorite_path(current_user.id, favorite.rant_id, :id), :method => :delete %>
      </div>
    </div>
    <hr width="25%">
  <% end %>

</div>