<%= render 'layouts/header' %>

<h1 class="titles">Users</h1>

<table class="admin-table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if params[:sort] == 'ASC' %>
      <th id="rant-sort"><%= link_to "Number of Rants", :sort => "DESC" %></th>
    <% else %>
      <th id="rant-sort"><%= link_to "Number of Rants", :sort => "ASC" %></th>
    <% end %>
    <th>Disabled</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name + " " + user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.rants.count %></td>
      <td></td>
      <% if user.disabled %>
        <td><%= link_to "Enable", enable_path(user.id), :method => "Post" %>
      <% else %>
        <td><%= link_to "Disable", disable_path(user.id), :method => "Post" %>
      <% end %>
      <%= link_to "Impersonate", impersonate_path(user.id) %></td>
    </tr>
  <% end %>
</table>