<%= render 'layouts/header' %>
<%= render 'layouts/form' %>

<div class="col-3-4 search form">
  <h1 class="titles">Search</h1>
  <hr width="85%">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag "Search", :search, :class => "field" %>
    <%= submit_tag "Search", :class => "button" %>
  <% end %>
</div>
