<%= render 'layouts/header' %>
<%= render 'layouts/form' %>

<div class="col-3-4">
  <div class="individual-display">
  <h2 class="titles"><%= "#{@specific_user.first_name} #{@specific_user.last_name}" %></h2>
  <% if  @follow.find_by(follower_id: current_user.id, followee_id: @specific_user.id) == nil %>
    <div class="blue-links"><%= link_to "Follow", user_follow_path(current_user, @specific_user.id), :method => :post %></div>
  <% else %>
    <div class="blue-links"><%= link_to "Unfollow", user_follow_path(current_user, @specific_user.id), :method => :delete %></div>
  <% end %>
  <hr width="85%">
  <div class="titles frequency">
    <%= "#{@specific_user.frequency.capitalize} Ranter" %>
  </div>
  <div>
    <%= @specific_user.bio %>
  </div>

  <div>
    <% @specific_user.most_favorites.each do |rant| %>
      <div class="subtitle">
        <%= rant.topic %>
      </div>
      <div>
        <%= rant.rant %>
        <div class="rant-interactions blue-links">
          <%= rant.favorites.count %> -
          <% if @favorite.find_by(user_id: current_user.id, rant_id: rant.id) == nil %>
            <%= link_to "Favorite", user_rant_favorites_path(current_user.id, rant.id), :method => :post %>
          <% else %>
            <%= link_to "Unfavorite", user_rant_favorite_path(current_user.id, rant.id, :id), :method => :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="rants-display">
    <% @specific_user.comments.each do |comment| %>
      <div class="rant-and-picture">
        <div class="col-1-5">
          <div class="black-links"><%= comment.user.first_name %></div>
          <div><%= image_tag comment.user.avatar_url(:thumb) %></div>
        </div>
        <div class="col-3-4 black-links" style="height: 130px">
          <%= comment.comment %>
        </div>
        <hr width="25%">
    <% end %>
    </div>
  </div>

  <div class="search form col-3-4">
    <%= form_for [@commentable, @comment] do |f| %>
      <%= f.text_area :comment, :class => "field", :style => "width:100%" %>
      <%= f.submit "RANT BACK", :class => "button", :style => "float:right" %>
    <% end %>
  </div>
</div>