<div class="col-1-4 dashboard-sidebar">
  <h1 class="titles"><%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id) %></h1>
  <div class="profile-image"><%= image_tag @user.avatar if @user.avatar? %>
  </div>
  <hr width="85%">
  <span><%= flash[:notice] %></span>

  <div class="rant-form-container">
    <%= form_for [@user, @rant] do |f| %>
      <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="errors" style="display:block"><%= error %></div>
      <% end %>
      <% end %>

      <div>
        <%= f.label 'A rant about:' %>
      </div>
      <div>
        <%= f.text_field :topic, :class => 'input-field' %>
      </div>
      <div>
        <%= f.label 'Rant:' %>
      </div>
      <div>
        <%= f.text_area :rant, :class => 'input-field' %>
      </div>
      <div>
        <%= f.submit 'RANT', :class => 'button' %>
      </div>
    <% end %>
  </div>
</div>