<header>
  <ul class="nav">
    <li class="logo"><%= link_to 'Rant.ly', dashboard_path(current_user) %></li>
    <li><a class="nav-button" <%= link_to 'Dashboard', dashboard_path(current_user) %></a></li>
    <li><a class="nav-button" <%= link_to 'Following', user_follows_path(current_user) %></a></li>
    <li><a class="nav-button" <%= link_to 'Favorites', favorites_path(current_user)%></a></li>
    <li><a class="nav-button" <%= link_to 'Search', search_index_path%></a></li>
    <li><a class="button" <%= link_to 'LOGOUT', signout_path %></a></li>
  </ul>
</header>