<header>
  <ul class="nav">
    <li class="logo">Rant.ly</li>
    <li><a class="nav-button" <%= link_to 'Dashboard', dashboard_path(@current_user) %></a></li>
    <li><a class="nav-button" <%= link_to 'Following', user_follows_path(@current_user) %></a></li>
    <li><a class="nav-button" <%= link_to 'Favorites', 'user_path' %></a></li>
    <li><a class="nav-button" <%= link_to 'Search', 'user_path' %></a></li>
    <li><a class="button" <%= link_to 'LOGOUT', signout_path %></a></li>
  </ul>
</header>